/* FORM INPUT */
.form-input {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  min-height: 36px;
  width: 100%;
}

.form-input label {
  font-size: 16px;
  color: var(--system-gray-9);
}
.form-input input {
  font-size: 16px;
  color: var(--system-gray-10);
  border: none;
  outline: none;
  border-bottom: 1px solid var(--primary-color);
  padding: 4px;
}

/* FLEX DIRECTIONS */
.form-input.form-input-col {
  flex-direction: column;
}
.form-input.form-input-row {
  flex-direction: row;
}
.form-input.form-input-rowRev {
  flex-direction: row-reverse;
}
.form-input.form-input-colRev {
  flex-direction: column;
}

/* CHECKBOX */
.form-input.form-input-checkbox {
  justify-content: end;
}
.form-input.form-input-checkbox input {
  width: 20px;
  margin-right: 4px;
}
.form-input.form-input-checkbox label {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* text area */
.form-input.form-input-textarea textarea {
  resize: none;
  width: 100%;
  max-width: 100%;
  max-height: 25vh;
  padding: 4px;
  border: none;
  outline: none;
  letter-spacing: 1.2px;
  font-family: var(--font-body);
  border-bottom: 1px solid var(--primary-color);
}
