.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.box.box-row {
  flex-direction: row;
}
.box.box-row.box-row-reverse {
  flex-direction: row-reverse;
}
.box.box-col {
  flex-direction: column;
}
.box.box-col.box-col-reverse {
  flex-direction: column-reverse;
}
