:root {
  --page-bg-color: var(--system-gray-1);
}
[data-theme="dark"] {
}
.page {
  width: 100vw;
  margin-top: 80px;
  min-height: 80vh;
  background-color: var(--page-bg-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
