.frm-btn {
  background-color: var(--primary-color);
  width: 100%;
  transition: all 0.2s linear;
  margin: 0;
}

.frm-btn.frm-btn-sm {
  font-size: 16px;
  padding: 4px 8px;
}
.frm-btn.frm-btn-md {
  font-size: 16px;
  padding: 6px 8px;
}
.frm-btn.frm-btn-lg {
  font-size: 24px;
  padding: 8px 8px;
}

.frm-btn:hover {
  background-color: var(--highlight-color);
}

.frm-btn.frm-btn-outlined {
  background-color: inherit;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.frm-btn.frm-btn-outlined:hover {
  color: var(--highlight-color);
  border-color: var(--highlight-color);
}
