:root {
  --form-min-width: 300px;
  --form-width: 600px;
  --form-max-width: 1000px;
  --form-side-padding: 24px;
  --form-field-width: calc(100% - 24px);
}

.form-box {
  min-width: var(--form-min-width);
  width: var(--form-width);
  max-width: var(--form-max-width);
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  padding: 24px 0;
}
.form-box > * {
  width: calc(var(--form-width) - var(--form-side-padding));
  margin: auto;
}
.form {
  position: relative;
}
.form-box .box-row {
  align-items: flex-end;
}
.form-box .box-col {
  justify-content: flex-end;
}

.form-fields {
  margin: 0 !important;
}
/* FORM - FIELD */
.form-field {
  padding: 4px;
  margin: 0 !important;
  width: 100%;
  background-color: inherit;
  /*! gap = 0 ---- gap removed - formfield is using Flex container which has a default gap of 8px for flow="row" */
  gap: 0 !important;
}
.form-field.form-field-justify-start {
  justify-content: flex-start;
}
.form-field.form-field-justify-end {
  justify-content: flex-end;
}
.form-field > * {
  width: 100%;
}
.form-field label {
  width: auto;
}

.form-field.form-field-checkbox {
  position: relative;
}
.form-field input[type="checkbox"] {
  left: 0;
  flex: 0;
  align-self: center;
  margin: 0 8px;
}
/* FORM ACTIONS */
.form-actions {
  height: auto;
  display: flex;
  flex-direction: column !important;
  gap: 16px;
  margin-top: 24px;
}
.form-actions.form-actions-col {
  flex-direction: column;
}
div.form-actions.form-actions-row {
  flex-direction: row !important;
}

/* POST PAGE */
.form-box-w100 {
  width: 100% !important;
  box-shadow: none;
}
