.form-box {
  min-width: 320px;
  min-height: 320px;
  margin: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0 24px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.form-box .form-header {
  font-size: 32px;
  text-align: center;
}
.form-box .form-desc {
  font-size: 18px;
  text-align: center;
}

.form {
  margin-bottom: 24px;
}

/* FORM ACTIONS */
.form-actions {
  height: auto;
  display: flex;
  flex-direction: column !important;
  gap: 16px;
  margin-top: 24px;
}
.form-actions.form-actions-col {
  flex-direction: column;
}
div.form-actions.form-actions-row {
  flex-direction: row !important;
}

/* POST PAGE */
.form-box-w100 {
  width: 90%;
  max-width: 90%;
  box-shadow: none;
}
