:root {
  --heading-color: var(--primary-color);
}
[data-theme="dark"] {
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  color: var(--heading-color);
  line-height: 1.4;
  margin-top: var(--space-lg);
  margin-bottom: var(--space-sm);
}
